h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    font-weight: 700px;
    line-height: 130px;
    margin: 150px auto;
    text-align: center;
    text-transform: uppercase;
}

footer {
    text-align: center;
}