:root {
    --primary-heading-font: 'Playfair Display', serif;
    --secondary-heading-font: 'Poppins', sans-serif;
    --main-font: 'Roboto', sans-serif;
    
}

body {
    background: #030505;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

header {
    background-image: linear-gradient(360deg, rgba(3, 5, 4, 1) 0%, rgba(2, 4, 3, 0.3) 51.55%, rgba(11, 6, 32, 0) 100%), url("/src/images/microphone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0 auto 50px;
    padding-top: 250px;
    padding-bottom: 210px;
    text-align: center;
    width: 100%;
}

header h1, h3 {
    text-transform: uppercase;
}

header h1 {
    font-family: var(--primary-heading-font);
    font-size: 125px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;    
    
}

header h3 {
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: 800px;
    line-height: 2;
    letter-spacing: 6px; 
    margin-bottom: 6px;
      
}

header h2 {
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0em;
    margin-top: 8px;
    margin-bottom: 40px;

}

button {
    background: #21142d;
    border-radius: 100px;
    color: white;
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 16px 32px 16px 32px;
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 50px;
   
}

.grid-2-col {
    grid-template-columns: 1fr 1fr;
}

.grid-3-col {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-col-1-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

section {
    margin: 0 auto;
}

section h3 {
    font-family: var(--secondary-heading-font);
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 50px auto 5px;
}

section h2 {
    font-family: var(--primary-heading-font);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    margin: 0 auto;  
}

section p {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    margin: 18px auto;
}

section.primary {
    background-color: white;
    
}

section.primary img {
   max-width: 100%;
   }

.main-img {
    line-height: 0;
   }

section.primary h3 {
    color: rgb(64, 35, 47);
}

section.primary h2 {
    color: #272044;
}

section.primary p {
    color: rgb(39, 32, 68, 0.7);
}

.main-text {
    padding-right: 30px;
}

section.secondary {
    background-image: linear-gradient(360deg, rgba(3, 5, 4, 0.9) 0%, rgba(2, 4, 3, 0.7) 51.55%, rgba(11, 6, 32, 0.6) 100%), 
    url("/src/images/guys-and-dolls.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.secondary h2, section.secondary h3 {
    color: white;
    text-align: center;
}

.card {
    background-color: white;
    font-family: var(--main-font);
    line-height: 1.5;
    text-align: left;
}

.card img {
max-width: 100%;
}

.card-text {
    padding: 24px 32px;
}

.card h4 {
    color: rgba(39, 32, 68, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 auto 8px;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
}

.card h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 12px auto 8px;
}

.card ul {
    margin: 0 auto 8px;
}

footer {
    background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)), url("../src/images/wedding-singer-bouqet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 100px;
}

footer h3 {
    font-family: var(--primary-heading-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
}  

footer p {
    font-family:var(--secondary-heading-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.9;
    
}

footer ul {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 0;   
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: rgb(255, 255, 255, 0.7);
}





@media (max-width: 960px) {
    header {
        padding-top: 175px;
    }

    header h3 {
        font-size: 15px;
        
    }

    header h1 {
        font-size: 85px;
        line-height: 110px;
    }

    header h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    button {
        font-size: 12px;
        padding: 8px 24px 8px 24px;
    }

    

    main h3 {
        font-size: 10px;
        margin: 30px auto 0;
    }

    main h2 {
        font-size: 30px;
    }

    footer {
        padding: 50px 50px;
    }

    footer p {
        font-size: 14px;
    }


}

@media (max-width: 620px) {
    body {
        min-width: 480px;
    }

    header h3 {
        font-size: 10px;
        
    }

    header h1 {
        font-size: 65px;
        line-height: 80px;
    }

    header h2 {
        font-size: 20px;
    }

    .grid {
        grid-gap: 15px;
        grid-template-columns: 1fr;
    }

    main img {
        display: none;
    }

    .main-text {
        padding: 10px 30px 30px 30px;
    }

    main h3 {
        margin: 0 auto;
    }

    main h2 {
        margin: 5px auto;
    }

    main button {
        margin: 10px auto;
    }

}