:root {
    --primary-heading-font: 'Playfair Display', serif;
    --secondary-heading-font: 'Poppins', sans-serif;
    --main-font: 'Roboto', sans-serif;
    
}

body {
    background: #030505;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

header {
    background-image: linear-gradient(360deg, rgba(3, 5, 4, 1) 0%, rgba(2, 4, 3, 0.3) 51.55%, rgba(11, 6, 32, 0) 100%), url("/src/images/microphone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0 auto 50px;
    padding-top: 250px;
    padding-bottom: 210px;
    text-align: center;
    width: 100%;
}

header h1, h3 {
    text-transform: uppercase;
}

header h1 {
    font-family: var(--primary-heading-font);
    font-size: 125px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;    
    
}

header h3 {
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: 800px;
    line-height: 2;
    letter-spacing: 6px; 
    margin-bottom: 6px;
      
}

header h2 {
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0em;
    margin-top: 8px;
    margin-bottom: 40px;

}

.btn {
    background: #885DF1;
    border-radius: 100px;
    color: white;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
}


.grid {
    display: grid;
    grid-gap: 30px;
   
}

.grid-2-col {
    grid-template-columns: 1fr 1fr;
}

.grid-3-col {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-col-1-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

section {
    margin: 0 auto;
}


main h2 {
    font-family: var(--primary-heading-font);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    margin: 0 auto;  
}

main h3 {
    font-family: var(--secondary-heading-font);
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 5px;
}

main h4 {
    color: rgba(39, 32, 68, 1);
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto 8px;
}

main h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 12px auto 8px;
}

main p {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    margin: 18px auto;
}

main .primary {
    background-color: white;
    
}

main .primary img {
   max-width: 100%;
   }

.main-img {
    line-height: 0;
   }

main .primary h3 {
    color: rgb(64, 35, 47);
    margin: 50px auto 5px;
}

main .primary h2 {
    color: #272044;
}

main .primary p {
    color: rgb(39, 32, 68, 0.7);
}

.main-text {
    padding-left: 30px;
    padding-right: 45px;
}

main .secondary {
    background-image: linear-gradient(360deg, rgba(3, 5, 4, 0.9) 0%, rgba(2, 4, 3, 0.7) 51.55%, rgba(11, 6, 32, 0.6) 100%), 
    url("/src/images/guys-and-dolls.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .secondary h2 {
    margin: 7px auto 50px;
}

main .secondary h3 {
    margin: 100px auto 0;
}

main .secondary h2, main .secondary h3 {
    color: white;
    text-align: center;
}

main .btn {
    font-size: 12px;
    padding: 8px 24px 8px 24px;
}

.cards {
    margin: 0 100px;
}

.card {
    background: white;
    border-radius: 15px;
    font-family: var(--main-font);
    line-height: 1.5;
    text-align: left;
}

.card-header img {
    border-radius: 15px 15px 0 0;
    max-width: 100%;
}

.card-text {
    padding: 24px 32px;
}

.card p, .card ul {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}

.card .btn {
    display: block;
    margin: 8px auto;
}

footer {
    background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)), url("../src/images/wedding-singer-bouqet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 100px;
}

footer h3 {
    font-family: var(--primary-heading-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
}  

footer p {
    font-family:var(--secondary-heading-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.9;
    
}

footer ul {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 0;   
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: rgb(255, 255, 255, 0.7);
}





@media (max-width: 960px) {
    header {
        padding-bottom: 300px;
        padding-top: 175px;
    }

    header h3, main h3, .card h3 {
        font-size: 12px;
        
    }

    header h1 {
        font-size: 85px;
        line-height: 110px;
    }

    header h2, main h2, .card h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .main-text {
        padding-left: 0;
        padding-right: 10px;
    }

    main p, .card p, .card ul, footer p, footer ul {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 24px 8px 24px;
    }
    

    .cards {
        margin: 0 50px 80px;
    }

    .card-text {
    padding: 20px;
    }   
    
    main h3 {
        margin: 30px auto 0;
    }

    footer {
        padding: 50px 50px;
    }
    
    .card h4, footer h3 {
        font-size: 18px;
    }


}

@media (max-width: 620px) {
    body {
        min-width: 480px;
    }

    header h3, main h3 {
        font-size: 10px;
        
    }

    header h1 {
        font-size: 65px;
        line-height: 80px;
    }

    header h2 {
        font-size: 20px;
    }

    .grid {
        grid-gap: 15px;
        grid-template-columns: 1fr;
    }

    main img {
        display: none;
    }

    .main-text {
        padding: 0 30px 30px;
    }

    .cards {
        margin: 0 10px 20px;
    }

    main .primary h3 {
        margin: 0 auto;
    }

    main .primary h2 {
        margin: 5px auto;
    } 

    main .secondary h2 {
        margin: 7px auto 35px;
    }

   main .secondary h3 {
        font-size: 10px;
        margin: 35px auto 0;

    }
}